.form {
  padding: 1rem 0;

  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    border: none;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__label {
    margin-bottom: 1rem;
    display: block;
    font-size: 1.4rem;
    color: $accent-gray-dark-1;
    font-weight: 700;
  }

  &__label:not(:first-of-type) {
    margin-top: 3rem;
  }

  &__input {
    font-family: inherit;
    position: relative;
    background-color: $accent-gray-light-1;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem;
    text-align: right;
    color: $color-primary-dark;
    font-weight: 700;
    border: 2px solid transparent;
    cursor: pointer;

    &::placeholder {
      color: $accent-gray-dark-1;
    }

    &:focus {
      outline: none;
      border: 2px solid $color-primary;
    }

    &--error {
      border: 2px solid $color-error;
    }
  }

  &__input-container {
    position: relative;

    & > * {
      width: 100%;
    }

    &--dollar::before,
    &--people::before {
      content: url(../img/icon-dollar.svg);
      display: block;
      position: absolute;
      top: 50%;
      left: 2rem;
      z-index: 2;
      transform: translateY(-50%);
    }

    &--people::before {
      content: url(../img/icon-person.svg);
    }
  }

  &__input {
    font-size: 2.4rem;
  }
}

// Remove Arrows in Number Input

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
