.results {
  background-color: $color-primary-dark;
  border-radius: 1rem;
  padding: 3rem;
  color: $color-primary;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr;
  grid-gap: 4rem;
  align-items: start;

  &__label-amount {
    color: $white;
    font-size: 1.8rem;
  }

  &__result {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    min-width: 18rem;
    text-align: right;

    justify-self: end;

    &::before {
      content: '$';
      display: inline-block;
    }
  }
}
